a {
    color: inherit;
    text-decoration: none;
}
.episode-card{
    margin: 20px 0px;
    border: 2px solid #831010;
    /* border-radius: 10px; */
    background-color: #564d4d;
    max-height: 204px;
    overflow: hidden;
    color: #FFFFFF;
}
.episode-details{
    padding-top: 3px;
    word-wrap: break-word;
}

.episode-details h2{
    font-size: 1.5em;
  }
.episode-details h3{
font-size: 1em;
}
.episode-card img{
    float:left;
    margin-right: 10px;
}
.clearfix{
    clear:both;
}

.episodes-container{
    margin: 0px 20px;
    color: #db0000
}